* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    min-width: 1100px;       
    height: 2844px;
    background-color: rgb(255, 255, 255);
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items:center;
    padding:82px 50px 96px 15px;
    
}

.header__links-list {
    display: flex;
    justify-content: space-evenly;
    text-underline-offset: 5px;
}

.header__links-list-item { 
    font-family: Raleway, Arial, Helvetica, sans-serif; 
    font-size: 18px;
    font-style: normal; 
    list-style: circle;
    text-decoration: underline;
}

.header__links-list-item__no-bullit {
    list-style-type: none;
    text-decoration: none;
} 

.header__logo {
    display: grid;
    justify-self: center;
    width: 147px;
    height: 105px;
    flex-shrink: 0;
    margin-left: 38px;
}

.header__logo-images {
    width: 100%;
}

.address {
    justify-self:end;
    width: 240px;
    font-family: Raleway, sans-serif; 
    font-style: normal;
    font-size: 18px;
    text-underline-offset: 4px;
    line-height: 24.3px;
}

.cover {
    display:flex;  
    background-image: url(../images/cover.jpg); 
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    width: 1440px;
    height: 757px;
    z-index:0;  
    position: relative;
}   

.overlay { 
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover-title {
    display:block;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    position:absolute;
    z-index:2;
    width: 1440px;
    color:rgb(255, 255, 255);
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 100px;
    letter-spacing: 30px;
    text-transform: uppercase;  
}

.aligned-text {
    text-align: left;
    letter-spacing: 30px;
    padding: 165px 0 0 50px;
    line-height: 115%;
}

.aligned-text_center {
    text-align: center;
    letter-spacing: 30px;
    padding: 10px 0 0 0;
}

.aligned-text_right {
    text-align: right;
    letter-spacing: 30px; 
    padding-top: 3px;
    padding-left: 13px;
    padding-right: 10px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
    padding-left: 6px;
}

.no-letter-spacing {
    letter-spacing: 0px;
    
}

.cover__description {
    display: flex;
    flex-direction: row;
    align-self: end;
    column-gap: 80px;
    position: absolute;
    z-index: 3;
    padding:0 0 51px 420px;
  }
  
  .cover__description-text {
    text-transform: uppercase;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:rgb(255, 255, 255);
    word-spacing: 18px;
    padding-top: 15px;
    line-height: 28px;
  }
  
.bet-button {
    background-color: transparent;
    border: 1px solid #FFF;
    width: 257px;
    height: 52px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
}

.lots {
    margin:180px 50px 27px 49px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    padding: 0 0 27px 40px;
}

.lots__card-list {
    display:flex;
    column-gap: 25px;
    flex-grow: 1;
    list-style-type: none; 
    padding-bottom: 30px;  
}

.card {
    display: grid;
    align-content: space-between;
    position: relative;
    z-index: 1;
    width: 430px;
    height: 450px;
    padding: 50px 39px 49px 39px; 
    border: 1px solid #000000; /* border */
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 430px;
    height: 450px;  
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 430px;
    height: 450px;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 430px;
    height: 450px;
}

.card__title {
    z-index: 2;
    text-decoration: underline;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size:22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    text-underline-offset: 2px;
    color: #ffffff;
}

.card__text {
    font-size:20px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: #ffffff; 
    z-index: 2;
}

.lots__look-more-link {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size:20px;
    color: #000000;
    text-underline-offset: 5px;
    padding: 0 0 0 40px;  
}

.about {
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
    width: 1440px;
    height: 487px;
    padding: 154px 0px 0 50px;
}

.logo__column {
    padding: 0 95px;
}

.about__logo {
    background-color: black;
    border:none;
    border-radius:50%;
    width: 240px;
    height: 240px;
    padding: 63px 46px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    
}

.about__column {
    display:flex;
    flex-direction: column;
    padding: 100px 50px 100px 0;
}

.about__title {
    padding: 0 0 100px 0;
    text-transform: uppercase;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;    
}

.about__text {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 335px 50px 50px;
}

.footer__menu-list-item {
    list-style: none;
    text-underline-offset: 5px;
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
}

.footer__social-list {
    display:flex;
    column-gap: 50px;
    list-style: none;
    flex-shrink: 0;
    width: 18%;
}


